@font-face{
    src: url(fonts/CenturyGothic.ttf);
    font-family: 'Century Gothic';
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Century Gothic';
}

.logo {
    width: 70vmin;
    padding: 1%;
}

h1 {
    display: inline-block;
}

h2 {
    margin-top: 1vmin;
    font-size: 3.5vmin;
    margin-bottom: 1vmin;
}

hr {
    width: 70vmin;
}

body { 
    background-color:#DDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

#menu {
    display: block;
    column-gap: .5em;
    position: relative;
    margin-bottom: 1vmin;
}

#menu > div{
    width: 67vmin;
    
}

#counter{
    width: 40vmin;
    margin: 0 auto;
    height: 1.75em;
}

#counter > div{
    padding-top: 0.25vmin;
}

#menu button,
.dialog-close {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin-left: 0.5vmin;
}

.close-button {
    font-size: 3vmin;
    
}

#close-modal {
    font-size: 1.75vmin;
}

#buttons {
    float: right;
    display: inline;
}

#menu button svg {
    height: 1.75em;
    width: 1.75em;
}

.modal {
    padding: 1em;
    max-width: 90vmin;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vmin;
}

.modal::backdrop {
    background: rgb(0 0 0 / 0.4);
  }

a, a:focus{

/* border: inherit; */
outline:none;
} 

#piece-icon {
    height: 4vmin;
    width: 4vmin;
    display: inline;
    position: relative;
    vertical-align: top;

}


#move-count {
    display: inline-block;

}

#game-board {   
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: #006400; 
    border-radius: 1vmin;
    gap: var(--cell-gap);
    padding: var(--cell-gap);
    position: relative;
}

.cellWhite {
    background-color: #E0E0E0;
    border-radius: 1vmin;

}
.cellBlack {
    background-color: #A9A9A9;
    border-radius: 1vmin;

}

.piece {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);

    border-radius: 1vmin;
    top: calc((var(--y) + var(--offsety)) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc((var(--x) + var(--offsetx)) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background: var(--backgroundImg);
    background-size: var(--cell-size);
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness)); 
    /* animation: show 300ms ease-in-out; */
    /* transition: 200ms ease-in-out; */
}

#mouseDragLine {
    position: absolute;
    height: 2px;
    /* display: none; */
    background-color: orange;
}

@keyframes show{
    0% {
        opacity: .5;
        transform: scale(0);
    }
}

p {
    text-align: left;
    font-size: 2vmin;
    margin-bottom: 1.5vmin;
    margin-top: 0;
}

#arrows {
    font-size: 3vmin;
}

#addition {
    font-size: 3.25vmin;
}
